html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* General Styling */
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 0;
    height: 80px;
    width: 100vw;
    /* useful tool to keep box sizes constant with padding and such */
    box-sizing: border-box;
    background-color: rgb(85,119,253);
    z-index: 1;
}
#header-logo {
    height: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 40%;
    margin-right: 5%;
}
.header-links {
    font-size: 1.5em;
    color: #012877;
}
.header-links:hover {
    color: #B1BBF4;
}

main {
    position: absolute;
    top: 100px;
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.section {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 5em;
    font-weight: 900;
    color: #012877;
}
h2 {
    font-size: 3em;
    font-weight: 650;
}
h3 {
    font-size: 2.5em;
    font-weight: 550;
}
h4 {
    font-size: 2em;
}
h5{
    font-size: 1.25em;
}
p {
    font-size: 1.25em;
}
a {
    text-decoration: none;
}
button {
    background-color: #B1BBF4;
    border: 3px #012877 solid;
    border-radius: 2px;
    font-size: 1.25em;
}
button:hover {
    background-color: rgb(85,119,253);
}

/* Home Page Styling */
#home-section {
    display: flex;
    justify-content: space-between;
}
#home-left {
    width: 75%;
}
#home-right {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#introduction {
    margin-top: 10%;
}
#introduction > h4 {
    margin-bottom: 3%;
}
#introduction > h1 {
    margin-bottom: 4%;
}
#introduction > p {
    width: 75%;
    margin-bottom: 6%;
}
#projects-btn {
    padding: 15px 30px;
}
.social {
    height: 50px;
    margin: 25px 0;
}
.social:hover {
    border-radius: 50%;
    background-color: rgb(227, 255, 246);
    box-shadow: 0 0 10px 5px rgb(85,119,253);
}

/* Project Page Styling */
#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
#projects-left {
    width: 40%;
}
#bike-bandits-scrnshot {
    width: 100%;
    border-radius: 40px;
}
#bike-bandits-scrnshot:hover {
    box-shadow: 0 0 50px 10px #adc7fa; 
}

#projects-right {
    width: 50%;
    text-align: right;
}
#projects-right > h3 {
    margin-bottom: 5%;
}
#project-links-container {
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
#project-links-container > h5 > a {
    color: #012877;
}
#project-links-container > h5 > a:hover {
    color:rgb(85,119,253);
}
#projects-right > p {
    margin-bottom: 5%;
    text-align: justify;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* About Page Styling */
#about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about-left {
    width: 60%;
}
#about-right {
    width: 30%;
}
#head-shot {
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 50px 10px #adc7fa; 
}
#skills-section {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}
.skills-div {
    width: 33%;
    height: 100%;
}
.about-me {
    font-size: 1.2em;
    text-align: justify;
}
.tech-skills, #soft-skills {
    list-style-type:square;
    list-style-position: inside;
}

/* Contact Styling */
#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
}
#contact-right {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}
#contact-left > h2 {
    margin-bottom: 5%;
}
#contact-left > p {
    font-size: 1.5em;
}
#contact-section > h5 {
    font-size: 1.5em;
    color: #01349b

}