footer {
  width: 100%;
  height: 60px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  z-index: 5;
}
.socialContainer {
  display: flex;
  width: 120px;
  justify-content: space-between;
  height: 100%;
  gap: 16px;
}
.iconContainer {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  font-size: 1.3rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
}