header {
  width: 100vw;
  min-width: 800px;
  background-color: #F2F2F2;
  height: 60px;
  color: #050726;
  display: flex;
  justify-content: right;
  align-items: center;
  /* position:fixed;
  left: 0;
  top: 0; */
  z-index: 5;
}
nav {
  display: flex;
  margin-right: 40px;
}
.navContainer {
  list-style: none;
  display:flex;
  align-items: center;
  gap: 5rem;
}
.navContainer li {
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.1rem;
}
.navContainer li:hover { 
  cursor: pointer;
  color: #012877;
  text-decoration: underline;
}
.navContainer a {
  text-decoration: none;
  font-weight: 300;
  color: #012877
}
.navContainer a:hover {
  cursor: pointer;
  color: #050726;
  text-decoration: underline;
}