@keyframes slideInBottomAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.section {
  animation: 1s ease 0s 1 slideInBottomAnimation;
}

/** Desktop Styling */

@media screen and (min-width: 800px) {
  .section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
    width: 96%;
  }
  
}

/** Mobile Styling */

@media screen and (max-width: 800px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
